body {
  font-family: verdana;
  background-color: #f0f0f5;
}
h1 {
  font-family: 'raleway', sans-serif;
  font-weight: bold;
  font-size: 5em;
  color: #47476b;
}
h2 {
  font-family: 'raleway', sans-serif;
  /*font-weight: bold;*/
  font-size: 4em;
  color: #666699;
}
h3 {
  font-weight: bold;
  color: #47476b;
}
h4 {
  font-weight: bold;
  color: #666699;
}
.pic-of-me {
  height: 410px;
  width: 298px;
  float: left;
  margin-right: 40px;
  /*padding: 4px;*/
  border: 4px solid #666699;

}
.in-progress {
  color: #999999;
}
