h1 {
  font-family: verdana;
  font-weight: bold;
}
h2 {
  font-family: verdana;
  font-weight: bold;
}
h3 {
  font-family: verdana;
  font-weight: bold;
}
h4 {
  font-family: verdana;
  font-weight: bold;
}
.pic-of-me {
  height: 410px;
  width: 298px;
}
