.header-color {
  background: linear-gradient(#c2c2d6, #e6e6e6);
}
body {
  font-family: verdana;
  /*background-color: #fbf3ea;*/
  background-color: #e6e6e6;
}
h1 {
  font-family: 'raleway', sans-serif;
  font-size: 5em;
  font-weight: 300;
  color: #47476b;
}
h2 {
  font-family: 'raleway', sans-serif;
  font-size: 4em;
  font-weight: 200;
  color: #666699;
}
h3 {
  font-weight: bold;
  color: #47476b;
}
h4 {
  font-weight: bold;
  color: #666699;
}
.pic-of-me {
  height: 410px;
  width: 298px;
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
  border: 3px solid #c2c2d6;
}
.in-progress {
  color: #999999;
}
.page-header {
  border-bottom: 1px solid #c2c2d6;
  padding: 30px;
}
.photo-text-color {
  color: #666699;
  font-weight: bold;
}
ul {
  margin-left: 335px;
}
